.clearfix:after
    content: ' ';
    height: 0;
    display: block;
    clear: both;

.clearfix
    /* 触发 hasLayout */
    zoom: 1;

.float-lef
    float: left;

.float-rig
    float: right;

.input-span
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
    padding: 0 8px;
    background: rgba(66, 133, 244, 1);
    border-radius: 0px 3px 3px 0px;
    color: #fff;
    position: relative;
    left: -2px;

.dis-inline
    display: inline-block;

.label-span
    font-size: 14px;
    color: #606266;
    padding: 0 12px;

.dis-flx
    display: flex;
    justify-content: space-between;
